* {
    box-sizing: border-box;
    margin: 0;
    color: black;
}

body {
    background-color: rgb(230, 230, 230);
}
nav {
    display: inline-flex;
    width: 100%;
    background-color: rgb(100, 100, 100);
    height: 50px;
}

nav ul {
    display: inline-flex;
    position: relative;
    left: 50%;
    top: 20px;
    transform: translateX(-50%);
}

nav a {
    padding: 10px;
    background-color: rgb(100, 100, 100);
    width: 150px;
    height: 50px;
    margin: 25px;
    text-decoration: none;
    color: rgb(236, 236, 236);
}

nav li {
    list-style-type: none;
}

nav img {
    width: 70px;
    height: 40px;
    position: relative;
    top: -10px;
}

.text-1 {
    position: absolute;
    top: 68%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
    font-size: 25px;
}

.video video {
    position: relative;
    left: 50%;
    transform: translate(-50%);
}

.video {
    width: 100%;
    height: 500px;
    left: 50%;
    top: 100px;
    transform: translate(-50%);
    position: absolute;
    background-color: black;
}

footer {
    margin-top: 100px;
    width: 100%;
    height: 100px;
    position: absolute;
    top: 100%;
    background-color: rgb(255, 250, 240);
}